/*--------------------------------------
	[GENERAL]
  --------------------------------------*/
  html { 
   font-size: $font-size;
 }
 body {
  font-family: $font-family;
  color: $font-color;
  font-size: 1em;
  background: $background;
}
h1,h2,h3,h4,h5,h6 {
	font-family:$font-header;
}
.clearfix {
  clear: both;
}
.bold {
  font-weight: bold;
}
.text-white {
  color: #fff;
}
section {
  position: relative;
}
.d-flex {
  display: flex;
}
.p-relative{
  position: relative;
}
.section-header {
  display: flex;
  padding: 5px 10px;
  position: relative;
  div {
    padding: 4px;
    width: 100%;
    &:last-child{
      text-align: right;
    }
  }
  h1 {
    font-size: 24px;
    margin: 0;
  }
}
.section-body {
  position: relative;
  padding: 5px 10px;
}